<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="login-container">
        <div class="avatar">
            <img src="{{ url_for('static', filename='assets/avatar/key_115188.png') }}" alt="Avatar">
        </div>
        <h2>Preguntas Secretas</h2>

        <!-- Contenedor para mensajes -->
        <div id="alert-container">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <!-- Formulario -->
        <form action="{{ url_for('auth.validate_security_questions') }}" method="POST">
            {% for pregunta in pregunta_1 %}
            <p style="text-align: left;">{{ pregunta.pregunta }}</p>
            {% endfor %}
            <div class="form-group">
                <label for="respuesta1">Respuesta a la Pregunta 1</label>
                <input type="text" id="respuesta1" name="respuesta1" placeholder="Ingresa tu respuesta" required>
            </div>
            {% for pregunta in pregunta_2 %}
            <p style="text-align: left;">{{ pregunta.pregunta }}</p>
            {% endfor %}
            <div class="form-group">
                <label for="respuesta2">Respuesta a la Pregunta 2</label>
                <input type="text" id="respuesta2" name="respuesta2" placeholder="Ingresa tu respuesta" required>
            </div>
            <button type="submit" class="btn-login">Siguiente</button>
        </form>


        <p>¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Inicia Sesión</a></p>
    </div>