<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="avatar">
            <img src="{{ url_for('static', filename='assets/avatar/restablecer.png') }}" alt="Avatar">
        </div>
        <h2>Restablecer Contraseña</h2>

        <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="password">Nueva Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Nueva contraseña" required autocomplete="new-password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirma tu contraseña" required autocomplete="new-password">
            </div>
            <button type="submit" class="btn-login">Actualizar Contraseña</button>
        </form>
    </div>
</body>
</html>
