Flask
Flask-SQLAlchemy
python-dotenv
pymysql
flask-jwt-extended
Flask-Login
Flask-wtf
flask-bcrypt
flask_migrate
cryptography
Flask-Mail
requests
dotenv
PyJWT
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
