{% extends 'base.jinja' %}

{% block title %}
Juegos
{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<nav aria-label="breadcrumb" class="full-box">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.josue') }}">Josué</a></li>
        <li class="breadcrumb-item active" aria-current="page">Juegos</li>
    </ol>
</nav>

<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-gamepad fa-fw"></i> &nbsp; Mis Juegos
    </h3>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae
        ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam
        ratione.
    </p>
</div>

<!-- Content -->
<div class="full-box tile-container">

    <a href="cod.html" class="tile">
        <div class="tile-tittle">Call of Duty</div>
        <div class="tile-icon">
            <i class="fas fa-desktop fa-fw"></i>
            <p>30 GB</p>
        </div>
    </a>

    <a href="brawl.html" class="tile">
        <div class="tile-tittle">Brawl Stars</div>
        <div class="tile-icon">
            <i class="fas fa-mobile fa-fw"></i>
            <p>3 GB</p>
        </div>
    </a>

    <a href="clash.html" class="tile">
        <div class="tile-tittle">Clash Royale</div>
        <div class="tile-icon">
            <i class="fas fa-laptop fa-fw"></i>
            <p>1 GB</p>
        </div>
    </a>

</div>
{% endblock %}
