{% extends 'base.jinja' %}

{% block title %}
Materias
{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<nav aria-label="breadcrumb" class="full-box">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.josue') }}">Josué</a></li>
        <li class="breadcrumb-item active" aria-current="page">Materias</li>
    </ol>
</nav>

<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-book fa-fw"></i> &nbsp; Mis Materias
    </h3>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae
        ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam
        ratione.
    </p>
</div>

<!-- Content -->
<div class="full-box tile-container">

    <a href="ingles.html" class="tile">
        <div class="tile-tittle">Inglés</div>
        <div class="tile-icon">
            <i class="fas fa-list fa-fw"></i>
            <p>2 Unidades</p>
        </div>
    </a>

    <a href="matematicas.html" class="tile">
        <div class="tile-tittle">Matemáticas</div>
        <div class="tile-icon">
            <i class="fas fa-table fa-fw"></i>
            <p>3 Unidades</p>
        </div>
    </a>

    <a href="bdnube.html" class="tile">
        <div class="tile-tittle">BD en la nube</div>
        <div class="tile-icon">
            <i class="fas fa-cloud fa-fw"></i>
            <p>3 Unidades</p>
        </div>
    </a>

</div>
{% endblock %}
