{% extends 'base.jinja' %}

{% block title %}Home{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home/</li>
    </ol>
</nav>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div id="alert-container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}



<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-laptop fa-fw"></i> &nbsp; Mi Página Web
    </h3>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.
    </p>
</div>
{% endblock %}
