{% extends 'base.jinja' %}

{% block title %}
Error - Página no encontrada
{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
    .error-container {
        max-width: 600px;
        padding: 20px;
    }
    .error-image {
        max-width: 40%;
        height: auto;
        margin-bottom: 20px;
    }
    .error-message {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    .error-details {
        font-size: 1rem;
        color: #666;
        margin-bottom: 20px;
    }
    .error-actions a {
        text-decoration: none;
        color: white;
        background-color: #007bff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }
    .error-actions a:hover {
        background-color: #0056b3;
    }
</style>

<div class="error-container">
    <img src="https://img.freepik.com/vector-gratis/ups-error-404-ilustracion-concepto-robot-roto_114360-5529.jpg" alt="Error Imagen" class="error-image">
    <div class="error-message">Página no encontrada</div>
    <div class="error-details">
        Lo sentimos, la página que buscas no está disponible o no existe.
    </div>
    <div class="error-actions">
        <a href="{{ url_for('main.inicio') }}">Volver al inicio</a>
    </div>
</div>
{% endblock %}
