{% extends 'base.jinja' %}

{% block content %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Materias</li>
    </ol>
</nav>

<!-- Contenido de Materias -->
<div class="container text-center">
    <h1>Materias</h1>
    <div class="tile-container">
        <a href="{{ url_for('main.ingles') }}" class="tile">
            <div class="tile-tittle">Inglés</div>
            <div class="tile-icon">
                <i class="fas fa-book fa-fw"></i>
                <p>Idioma</p>
            </div>
        </a>

        <a href="{{ url_for('main.matematicas') }}" class="tile">
            <div class="tile-tittle">Matemáticas</div>
            <div class="tile-icon">
                <i class="fas fa-calculator fa-fw"></i>
                <p>Cálculo</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
