{% extends 'base.jinja' %}

{% block content %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.materias') }}">Materias</a></li>
        <li class="breadcrumb-item active" aria-current="page">Matemáticas</li>
    </ol>
</nav>

<!-- Contenido de Matemáticas -->
<div class="container text-center">
    <h1>Matemáticas</h1>
    <p><strong>Unidades:</strong> 4</p>
    <p><strong>Horas prácticas:</strong> 10</p>
    <p><strong>Horas teóricas:</strong> 15</p>
    <p><strong>Horas totales:</strong> 25</p>
</div>
{% endblock %}
