{% extends 'base.jinja' %}

{% block content %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.juegos') }}">Juegos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clash Royale</li>
    </ol>
</nav>

<!-- Contenido de Clash Royale -->
<div class="container text-center">
    <h1>Clash Royale</h1>
    <p><strong>Género:</strong> Estrategia en tiempo real</p>
    <p><strong>Desarrollador:</strong> Supercell</p>
    <p><strong>Plataformas:</strong> iOS, Android</p>
    <p><strong>Descripción:</strong> Un juego de estrategia en tiempo real que combina el uso de cartas coleccionables para derrotar al oponente en un campo de batalla.</p>
</div>
{% endblock %}
