{% extends 'base.jinja' %}

{% block content %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Juegos</li>
    </ol>
</nav>

<!-- Tarjetas de Juegos -->
<div class="container text-center">
    <h1>Juegos</h1>
    <div class="tile-container">
        <a href="{{ url_for('main.clash_royale') }}" class="tile">
            <div class="tile-tittle">Clash Royale</div>
            <div class="tile-icon">
                <i class="fas fa-chess-knight fa-fw"></i>
                <p>Estrategia</p>
            </div>
        </a>

        <a href="{{ url_for('main.gta_v') }}" class="tile">
            <div class="tile-tittle">GTA V</div>
            <div class="tile-icon">
                <i class="fas fa-car fa-fw"></i>
                <p>Aventura</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
