<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Página Web{% endblock %}</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-material-design.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrusel.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">



</head>

<body>
    <main class="full-box main-container">
        {% if show_sidebar is not defined or show_sidebar %}
        <section class="full-box nav-lateral">
            <div class="full-box nav-lateral-bg show-nav-lateral"></div>
            <div class="full-box nav-lateral-content">
                <figure class="full-box nav-lateral-avatar text-light">
                    <i class="far fa-times-circle show-nav-lateral"></i>
                    <img src="{{ url_for('static', filename='assets/avatar/5.jpg') }}" class="img-fluid" alt="Avatar">
                    <figcaption class="roboto-medium text-center">
                        {{ session.get('usuario_nombre', 'Usuario') }} <br>
                        <small class="roboto-condensed-light">{{ session.get('rol', 'Rol no definido') }}</small>
                    </figcaption>
                </figure>
                <div class="full-box nav-lateral-bar"></div>
                <nav class="full-box nav-lateral-menu">
                    <ul>
                        <li>
                            <a href="{{ url_for('main.inicio') }}"><i class="fas fa-home fa-fw"></i> &nbsp; Home</a>
                        </li>
                        {% if session.get('modulos') %}
                                    {% for modulo in session['modulos'] %}
                                    {% set nombre = modulo['nombre_modulo'].lower() %}
                                    {% if 'ver_' ~ nombre in session['permisos'] or nombre ~ '_crear' in session['permisos'] %}
                                <li>
                                    <a href="#" class="nav-btn-submenu">
                                    <i class="fas fa-folder fa-fw"></i> &nbsp; {{ modulo['nombre_modulo'] | capitalize }}
                                    <i class="fas fa-chevron-down"></i>
                                    </a>
                                <ul>
                                    {% if modulo['nombre_modulo'] == 'Materias' and tiene_permiso('materias_crear') %}
                                <li>
                                    <a href="{{ url_for('materia.agregar_materia') }}"
                                        class="text-success font-weight-bold">
                                        <i class="fas fa-plus-circle"></i> &nbsp; Agregar Materia
                                    </a>
                                </li>
                                    {% elif modulo['nombre_modulo'] == 'Proyectos' and tiene_permiso('proyectos_crear') %}
                                <li>    
                                    <a href="{{ url_for('proyecto.agregar_proyecto') }}"
                                        class="text-success font-weight-bold">
                                        <i class="fas fa-plus-circle"></i> &nbsp; Agregar Proyecto
                                    </a>
                                </li>
                                {% elif modulo['nombre_modulo'] == 'Juegos' and tiene_permiso('juegos_crear') %}
                                <li>
                                    <a href="{{ url_for('juego.agregar_juego') }}"
                                        class="text-success font-weight-bold">
                                        <i class="fas fa-plus-circle"></i> &nbsp; Agregar Juego
                                    </a>
                                </li>
                                {% endif %}

                                {% for seccion in modulo['secciones'] %}
                                <li>
                                    <a href="{{ seccion['url'] }}">
                                        <i class="fas fa-angle-right fa-fw"></i> &nbsp; {{ seccion['nombre'] }}
                                    </a>
                                </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                            <li><a href="#"><i class="fas fa-exclamation-circle"></i> &nbsp; Sin módulos asignados</a></li>
                        {% endif %}

                        {% if session.get('rol') == 'Administrador' %}
                        <li class="mt-3">
                            <a href="{{ url_for('permiso.gestionar_permisos') }}" class="text-info font-weight-bold">
                                <i class="fas fa-lock"></i> &nbsp; Gestión de Permisos
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </section>
        {% endif %}

        <section class="full-box page-content">
            <nav class="full-box navbar-info">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <form method="GET" action="{{ url_for('main.buscar_avanzada') }}" class="search-bar-advanced">
                            <!-- Filtro desplegable -->
                            <select name="categoria" class="form-select">
                                <option value="">Todas las categorías</option>
                                <option value="materias" {% if request.args.get('categoria')=='materias' %} selected {%
                                    endif %}>Materias</option>
                                <option value="juegos" {% if request.args.get('categoria')=='juegos' %} selected {%
                                    endif %}>Juegos</option>
                                <option value="proyectos" {% if request.args.get('categoria')=='proyectos' %} selected
                                    {% endif %}>Proyectos</option>
                            </select>
                            <!-- Campo de búsqueda avanzada -->
                            <input type="text" class="form-control" name="advanced_query"
                                placeholder="Buscar en toda la plataforma..."
                                value="{{ request.args.get('advanced_query', '') }}">
                            <!-- Botón de búsqueda -->
                            <button class="btn" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>

                    </div>
                </nav>




                <a href="#" class="float-left show-nav-lateral"><i class="fas fa-exchange-alt"></i></a>
                <!-- Iconos en la parte superior derecha -->
                <div class="top-icons">
                    <a href="#" data-toggle="modal" data-target="#ModalHelp"><i class="far fa-question-circle"></i></a>
                    <a href="#" class="btn-exit-system" data-logout-url="{{ url_for('auth.logout') }}">
                        <i class="fas fa-power-off"></i>
                    </a>
                    <!-- Seguridad - Opciones de sesión -->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user-cog"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-3">
                        <form action="{{ url_for('auth.actualizar_preferencias') }}" method="POST">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cerrarSesiones"
                                    name="cerrar_sesiones_activas" {% if current_user.cerrar_sesiones_activas
                                    %}checked{% endif %}>
                                <label class="form-check-label" for="cerrarSesiones">
                                    Cerrar sesiones activas en otros dispositivos
                                </label>
                            </div>

                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" id="confirmarSesion"
                                    name="confirmar_inicio_sesion" {% if current_user.confirmar_inicio_sesion
                                    %}checked{% endif %}>
                                <label class="form-check-label" for="confirmarSesion">
                                    Confirmar inicio de sesión con 2 pasos
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm mt-3">Guardar</button>
                        </form>
                    </div>
                </div>
                </div>


            </nav>

            <div>
                {% block breadcrumb %}
                {% endblock %}
            </div>


            {% block content %}
            {% endblock %}
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-material-design.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });
    </script>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% if request.endpoint in ["main.mostrar_modulo", "materia.listar_materias"] %}
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    {% endif %}

    {% if request.endpoint in ["main.mostrar_modulo", "juego.listar_juegos"] %}
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    {% endif %}

    {% if request.endpoint in ["main.mostrar_modulo", "proyecto.listar_proyectos"] %}
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    {% endif %}


    {% if request.endpoint == "main.mostrar_seccion" %}
    <script src="{{ url_for('static', filename='js/seccion.js') }}"></script>
    {% endif %}

    {% if request.endpoint == "main.buscar" %}
    <script src="{{ url_for('static', filename='js/buscar.js') }}"></script>
    {% endif %}

    {% if request.endpoint == "main.buscar_avanzada" %}
    <script src="{{ url_for('static', filename='js/buscar_avanzado.js') }}"></script>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const closeButtons = document.querySelectorAll('.close-btn, .close');
            closeButtons.forEach(button => {
                button.addEventListener('click', function () {
                    this.closest('.alert').style.display = 'none';
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const seguridadCheckbox = document.getElementById('desactivarOpciones');

            seguridadCheckbox.addEventListener('change', function () {
                Swal.fire({
                    title: 'Actualizando Preferencias...',
                    text: 'Por favor espera un momento...',
                    icon: 'info',
                    timer: 1200,
                    showConfirmButton: false
                });
            });
        });
    </script>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                let alerts = document.querySelectorAll(".alert");
                alerts.forEach(alert => {
                    alert.style.transition = "opacity 0.5s";
                    alert.style.opacity = "0";
                    setTimeout(() => alert.remove(), 500);
                });
            }, 3000);  // Desaparece después de 3 segundos
        });
    </script>



</body>

</html>