{% extends "base.jinja" %}

{% block title %}{{ seccion.nombre | default("Sección") }}{% endblock %}

{% block content %}
<!-- Breadcrumb dinámico -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Inicio</a></li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('main.mostrar_modulo', modulo=modulo) }}">{{ modulo|capitalize }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ seccion.nombre }}</li>
    </ol>
</nav>

<!-- Contenido dinámico -->
<div class="container text-center">
    <h1>{{ seccion.nombre | default("Sin nombre") }}</h1>
    <p>{{ seccion.descripcion | default("No hay descripción disponible.") }}</p>
</div>
{% endblock %}
