{% extends 'base.jinja' %}

{% block content %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.inicio') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proyectos</li>
    </ol>
</nav>

<!-- Contenido de Proyectos -->
<div class="container text-center">
    <h1>Proyectos</h1>
    <div class="tile-container">
        <a href="{{ url_for('main.prototipos') }}" class="tile">
            <div class="tile-tittle">Prototipos</div>
            <div class="tile-icon">
                <i class="fas fa-drafting-compass fa-fw"></i>
                <p>Diseño y validación</p>
            </div>
        </a>

        <a href="{{ url_for('main.app_movil') }}" class="tile">
            <div class="tile-tittle">App Móvil</div>
            <div class="tile-icon">
                <i class="fas fa-mobile-alt fa-fw"></i>
                <p>Desarrollo de aplicaciones</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
